<%- include('../partial/header') -%>
<%- include('sidebar') -%>


<div class="main" style="margin: 8% 30% 10% 41%; border-style: solid; border-radius: 15px; border-width: thin;">
    <div class="text-lg-left alert">
        <dt class='bold'>Registered Number</dt>
        <dd><%= details[0].registered_number %></dd>

        <dt class='bold'>Name</dt>
        <dd><%= details[0].name %></dd>

        <dt class='bold'>Address</dt>
        <dd><%= details[0].address %></dd>

        <dt class='bold'>Telephone Number</dt>
        <dd><%= details[0].phone_number %></dd>
    </div>
        

</div>

    </body>
</html>