<%- include('../partial/header') -%>
<%- include('sidebar') -%>


<div class="main">
<dt class='bold'>Registered Number</dt>
 <dd>-<%= details[0].registered_number %></dd>

<dt class='bold'>Name</dt>
 <dd>-<%= details[0].name %></dd>

<dt class='bold'>Address</dt>
 <dd>-<%= details[0].address %></dd>

<dt class='bold'>pphone Number</dt>
 <dd>-<%= details[0].phone_number %></dd>

</div>

    </body>
</html>