
<%- include('../partial/header') -%>
<%- include('sidebar') -%>

<div class="container">
    <div class="table-wrapper main">
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        
        
                        <th scope="col">Annual</th>
                        <th scope="col">Casual</th>
                        <th scope="col">Maternity</th>
                        <th scope="col">No Pay</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
        
                    </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user, index){ %>
                    <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= leaves.Annual %></td>
                        <td><%= leaves.Casual %></td>
                        <td><%= leaves.Maternity %></td>
                        <td><%= leaves.No Pay %></td>
                        
                        
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <p class="text-center">No users found.</p>
            <% } %>
    </div>
</div>


</body>

</html>