
<%- include('../partial/header') -%>
<%- include('sidebar') -%>

<div class="container">
    <div class="table-wrapper main">
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        
        
                        <th scope="col">Annual</th>
                        <th scope="col">Casual</th>
                        <th scope="col">Maternity</th>
                        <th scope="col">No Pay</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= result[0] %></td>
                        <td><%= result[1] %></td>
                        <td><%= result[2] %></td>
                        <td><%= result[3] %></td>
                        
                        
                    </tr>
                   
                </tbody>
            </table>
            
    </div>
</div>


</body>

</html>