<%- include('../partial/header') -%>
<%- include('sidebar') -%>

    <div class="table-wrapper main">
        <% if (user.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
        
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Marital Status</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Address</th>
                        <th scope="col">Contact Num</th>
                        <th scope="col">Department</th>
                        <th scope="col">Job</th>
                        <th scope="col">Type</th>
                        <th scope="col">Pay Grade</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
        
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <th scope="row"><%= user[0].id %></th>
                        <td><%= user[0].firstname %></td>
                        <td><%= user[0].lastname %></td>
                        <td><%= user[0].marital_status %></td>
                        <td><%= user[0].birthday %></td>
                        <td><%= user[0].address %></td>
                        <td><%= user[0].contact_num %></td>
                        <td><%= user[0].name %></td>
                        <td><%= user[0].title %></td>
                        <td><%= user[0].type %></td>
                        <td><%= user[0].paygrade_name %></td>
                        
                    </tr>
             
                </tbody>
            </table>
            <% } else { %>
            <p class="text-center">No users found.</p>
            <% } %>
    </div>

<script>
        function removeEM(id){
            $.ajax({
                type: 'POST',
                url: 'removeEM',
                data: {
                    "id": id
                },
                success: function (result) {
                    location.reload();
                }
            });
        }

        function editEM(id){
            $.ajax({
                type: 'GET',
                url: 'editEM',
                data: {
                    "id": id
                },
                success(data){
                    $(".main").html(data)
                }
            });
        }

</script>

</body>

</html>