<%- include('../partial/header') -%>

<div class="container">
    <div class="table-wrapper main">
        <% if (users.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
        
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Marital Status</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Address</th>
                        <th scope="col">Contact Num</th>
                        <th scope="col"></th>
        
                    </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user, index){ %>
                    <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.marital_status %></td>
                        <td><%= user.birthday %></td>
                        <td><%= user.address %></td>
                        <td><%= user.contact_num %></td>
                        <td><button class="btn btn-default" id="rmbutton" onClick=removeEM("<%= user.id %>")>Remove</button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <p class="text-center">No users found.</p>
            <% } %>
    </div>
</div>
<script>
        function removeEM(id){
            $.ajax({
                type: 'POST',
                url: 'removeSUP',
                data: {
                    "id": id
                },
                success: function (result) {
                    location.reload();
                }
            });
        }
</script>
</div>   
</body>